@model ProyectDetailModel
@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <h3>@Model.Nombre</h3>
    <div class="col-md-6">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Empresa: </label>
            <div class="col-sm-6">
                <label for="staticEmail" class="col-sm-12 col-form-label">@Model.Empresa</label>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Cargo: </label>
            <div class="col-sm-6">
                <label for="staticEmail" class="col-sm-12 col-form-label">@Model.Cargo</label>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Fechas: </label>
            <div class="col-sm-6">
                <label for="staticEmail" class="col-sm-12 col-form-label">@Model.Fechas</label>
            </div>
        </div>
    </div>
    <div class="section-details">
        <a class="section-title">Descripción del proyecto</a>
        <p class="card-text">
            @Model.Descripcion
        </p>
        <a class="section-title">Tareas realizadas</a>
        <ul class="activities">
            @foreach (var item in Model.TareasRealizadas)
            {
                <li>
                    @item
                </li>
            }
        </ul>
    </div>

    <div class="section-details">
        <a class="section-title">Herramientas utilizadas</a>
        <ul class="activities">
            @foreach (var item in Model.HerramientasUtilizadas)
            {
                <li>
                    @item
                </li>
            }
        </ul>
    </div>
    <a>Cada imagen esta con su nombre respectivo, click para ver en pantalla completa</a>
</div>

<div class="container">
    <h3 class="container-title"> 
        <span class="line"></span>
        Imágenes
        <span class="line"></span>
    </h3>
    <div class="flex-row" id="content-images">
        @foreach (var item in Model.Imagenes)
        {
            <div class="card" style="width: @Model.Witdh">
                <img src="/img/@item" class="det-image"/>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="~/js/details.js"></script>
}